{% extends 'base.html.twig' %}

{% block title %}New ProductoServicio{% endblock %}

{% block body %}
    <h1>Create new ProductoServicio</h1>

    <div class="mb-1">
    {{ include('producto_servicio/_form.html.twig') }}
    </div>

    <a class="btn btn-info" href="{{ path('app_producto_servicio_index') }}">back to list</a>
{% endblock %}
